body {
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
}

hr{
  border:none;
  border-bottom: dotted #EAF6F6 5px;
  width: 3%;
}
.top-cloud {
  position: absolute;
  right: 300px;
  top: 50px;
}
.intro{
  width: 20%;
  margin: auto;
}
.bottom-cloud {
  position: absolute;
  left: 300px;
  bottom: 300px;
}

.contact-me{
  width: 30%;
  margin: auto;
}

/* 1em=16px, 1em=100%, rem=the root size which mean if the body has its font-size then you can adjust it original size with rem tag. */
h1 {
  font-size: 5.6rem;
  margin: 50px auto 0 auto;
  font-family: 'Sacramento', cursive;
  color: #66BFBF;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  color: #66BFBF;
  font-weight: bold;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  color:#11999E;
}

.top-container {
  background-color: #e4f9f5;
  position: relative;
  padding-top: 100px;
}

.middle-container {
  padding-top: 100px;
}

.bottom-container {
  background-color: #66BFBF;
  padding: 80px;
}

.first-skills {
  width: 25%;
  float: left;
  margin-right: 30px;
}

.second-skills {
  width: 25%;
  border-radius: 50%;
  float: right;
  margin-left: 30px;
}

.pro {
  text-decoration: underline;
}
a{
    color:#11999E;
    text-decoration: none;
    font-weight: bold;
    padding-bottom: 20px;
}

.aprogrammer{
  font-weight: normal;
}

.skill-row{
  width: 50%;
margin: 100px auto 100px auto;
line-height: 50px;
text-align: left;
}
.BUTTON_IPE {
   background: #11999E;
   background-image: -webkit-linear-gradient(top, #11999E, #11999E);
   background-image: -moz-linear-gradient(top, #11999E, #11999E);
   background-image: -ms-linear-gradient(top, #11999E, #11999E);
   background-image: -o-linear-gradient(top, #11999E, #11999E);
   background-image: -webkit-gradient(to bottom, #11999E, #11999E);
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 20px;
   color: #FFFFFF;
   font-family: Brush Script MT;
   font-size: 20px;
   font-weight: 10;
   padding: 20px;
   -webkit-box-shadow: 1px 1px 20px 0 #000000;
   -moz-box-shadow: 1px 1px 20px 0 #000000;
   box-shadow: 1px 1px 20px 0 #000000;
   text-shadow: 1px 1px 20px #000000;
   border: solid #337FED 1px;
   text-decoration: none;
   display: inline-block;
   cursor: pointer;
   text-align: center;
   margin: 30px auto 100px auto;
}

.footer-link {
  display: inline-block; margin-right: 70px;
}
.bottom-p{
  color: #EAF6F6;
}
.p{
  line-height: 2;
}
